:root {
  --branding-color: #fcb632;
  --secondary-color: #f47339;
  --tertiary-color: #0a3d3b;
  --font-color: white;
  --background-color: #0a837e;
  --lighter-background-color: #6eb3b1;
  --heading-font-family: "Bitter", serif;
  --default-font-family: "Roboto Condensed", sans-serif;
}

body {
  background: rgb(249, 247, 254);
}

hr {
  max-width: 250px;
  margin: 140px auto 40px auto;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: var(--heading-font-family);
}

p,
footer {
  font-family: var(--default-font-family);
  font-size: 16px;
  color: var(--tertiary-color);
}

h1 {
  font-size: 70px;
  font-weight: 500;
}

a img {
  border: 2px solid var(--branding-color);
  border-radius: 4px;
  padding: 0;
  display: block;
  margin: 0 auto;
}

a img:hover {
  border: 2px solid var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.hero {
  text-align: center;
  background: var(--background-color);
}

.hero h1 {
  color: var(--font-color);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  color: var(--font-color);
}

.hero p {
  font-size: 24px;
  font-weight: 500;
  color: var(--font-color);
}

.btn-branding {
  background: var(--branding-color);
  color: var(--tertiary-color);
  font-family: var(--default-font-family);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 15px 25px;
}

.hero .btn-branding {
  margin: 20px 0 50px 0;
}

.btn-branding:hover {
  background: var(--secondary-color);
  color: var(--tertiary-color);
  transition: all 200ms ease-in-out;
}

.featured {
  color: var(--background-color);
  font-size: 40px;
  margin-top: 78px;
}

.btn-branding-outline {
  background: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 15px;
  margin: 5px 0;
  font-family: var(--default-font-family);
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: var(--tertiary-color);
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 20px;
}

.content h1 {
  font-size: 45px;
  margin-top: 0;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1;
  margin: 20px 0 5px 0;
  font-weight: 700;
}

.content h5 {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--default-font-family);
  margin-bottom: 0;
}

.content-description {
  background: #6eb3b1;
  border-radius: 4px;
  padding: 20px;
  color: var(--tertiary-color);
}

.content-description,
.index {
  margin: 105px 0;
}

.link {
  color: var(--background-color);
  text-decoration: none;
}

.link:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  transition: all 200ms ease-in-out;
}

@media (max-width: 768px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
  }
  .content-description {
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  img {
    width: 456px;
  }
}

@media (max-width: 990px) {
  .content-description {
    margin: 25px 0;
  }
}
